
.title{
     font-size: 18px;
     color: white;
     padding-left: 8px
    }
.cerrar{
    font-size: 13px
    }
.text-drak{color: #333}
.text-nidoo{color: #733b89}
.text-orange{color: #f60}

hr {height: 2px;}
h6{font-size: 12px}
.tipo{
    width: 72px;
}
.tipo:hover{
    color: #733b89
}
  
