
/*Encabezado*/
.M-lados{
    padding:5px;

}

.p-1{
    height: 10px;
    margin-right: 5px;
    font-size: 12px;  
}

/*Logo*/
.logo1{
    margin: 8px;
    height: 30px;
}

.logo2{
    height: 85px;
}

.boton{
    width: 250px;
}
.botones{
width: 250px;
height: 17px;
font-size: 11px;
}

.footer{
    font-size: 12px;
}
