
/*Encabezado*/
.M-lados{
    padding:5px;

}

.p-1{
    height: 10px;
    margin-right: 5px;
    font-size: 12px;  
    
}

/*Logo*/
.logo{
    margin: 8px;
    height: 30px;
}

.boton{
width: 250px;
}

.footer{
    font-size: 12px; 
}

.textcolor{
    color: #EE843E;
    width: 180px;
}